@font-face {
    font-family: myFont;
    src: url(Avenir.ttc);
}

body {
  background: #e5e6e6;
  font-family: myFont;
  margin: 0;
  padding: 0;
}
footer {
  font-family: myFont;
  font-style: italic;
  color: #157097;
  text-align:center;
  bottom: 0;
  width: 100%;
  padding-top:15%;
}
.wrapper {
  background: white;
  margin: auto;
  width: 60%;
}

h1 {
  text-align: center;
}
ul.tabs {
  list-style-type: none;
  margin: 0;
  margin-left: 20%;
  padding: 0;
}
ul.tabs li {
  border: #157097 solid 2px;
  border-bottom: none;
  float: left;
  margin: 0 .25em 0 0;
  padding: 5px 50px 5px 50px;
}
ul.tabs li a {
  color: #2c2e2e;
  text-decoration: none;
  font-size: 18px;
}
ul.tabs li.active {
  background: #2c2e2e;
  border: none;
}
ul.tabs li.active a {
  color: white;
}


.clr {
  clear: both;
}
article {
  border: #157097 solid 2px;
  padding: 0 5em;
}

.tabs2 {
  margin-left: 0%;
}

#username{
	background-image:url(images/icons/user.png); 
	background-repeat: no-repeat; 
	background-position: 2px 3px;
	border: #157097 solid 2px;

	padding-left: 25px;
	width: 80%;
	height: 30px;
	font-size:18px;
}

#password{
	background-image:url(images/icons/pass.png); 
	background-repeat: no-repeat; 
	background-position: 2px 3px;
	border: #157097 solid 2px;

	padding-left: 25px;
	width: 80%;
	height: 30px;
	font-size:18px;
}

#header1{
    font-family: myFont;
	font-size: 23px;
	font-style: italic;
    background-color:#157097;
    color:white;
    text-align:center;
	margin: 0;
	height: 55px;
	text-align:right;
	vertical-align:middle;
	padding-top:25px;
	padding-right: 30px;
}
#header2{
	background-color:#2c2e2e;
	margin: 0;
	padding: 0;
	height: 10px;
}
#logo{
	display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	width: 225px;
	height: 160px;
	padding-top:2%;
	padding-left: 2%;
}
#logout{
	display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	width: 70px;
	height: 70px;
}
.lang{
	padding-right:1%;
	text-align:right;
}
.lang a{
	color:#157097;
	font-family: myFont;
	font-size: 18px;
}

.lang a:hover{
	color:#2c2e2e;
}
div.wrap {
    width: 100%;
    height: 200px;
    position: relative;
}

.wrap img {
    position: absolute;
    top: 0;
}

.wrap img:nth-of-type(1) {
    left: 0;
}

.wrap img:nth-of-type(2) {
    right: 20px;
	top: 50px;
	
}

.wrap img:nth-of-type(2):hover {
	border: #157097 solid 2px;	
}
.text{
	width: 50%;	
}
.text{
	color:#2c2e2e;
	font-family: myFont;
	font-size: 18px;
	font-weight: 900;	
}

.text2{
	color:#2c2e2e;
	font-family: myFont;
	font-size: 14px;
	font-weight: 900;	
	text-align: left;
}

#bt_login{
	background: #2c2e2e;
	color:white;
	font-family: myFont;
	font-size: 18px;
	padding: 5px 30px 5px 30px;	
}

button{
	background: #2c2e2e;
	color:white;
	font-family: myFont;
	font-size: 18px;
	padding: 5px 30px 5px 30px;	
}

#buttons{
	margin-left: 30%;
	margin-bottom: 3%;
}

:required:focus {
  box-shadow: 0  0 3px rgba(255,0,0,0.5); 
}

#input_title{
	border: #157097 solid 2px;
	width: 90%;
	height: 30px;
	font-size:18px;
}

#input_title_pt{
	border: #157097 solid 2px;
	width: 90%;
	height: 30px;
	font-size:18px;
}

#input_title_eng{
	border: #157097 solid 2px;
	width: 90%;
	height: 30px;
	font-size:18px;
}

select {
   border: #157097 solid 2px;
   font-size:18px;
   padding: 5px 10px 5px 10px;
}
#user{
	margin-bottom: 2%;
}
#registred table{
	margin-bottom: 1%;
	padding: 0.5%;
}

#registred table{
	width: 100%;
}
#registred table tr{
	width: 100%;
}
#registred table tr td {
	width: 25%;
}

#registred table tr td select{
	width: 100%;
}

#registred table tr td .text{
	width: 100%;
}

#input_desc{
	border: #157097 solid 2px;
	width: 90%;
	height: 100px;
	font-size:18px;
}

#input_desc_pt{
	border: #157097 solid 2px;
	width: 90%;
	height: 100px;
	font-size:18px;
	font-family: myFont;
}

#input_desc_eng{
	border: #157097 solid 2px;
	width: 90%;
	height: 100px;
	font-size:18px;
	font-family: myFont;
}

#media table{
	width: 100%;
}
#media table tr td {
	width: 20%;
}

#bt_create{
	background: #2c2e2e;
	color:white;
	font-family: myFont;
	font-size: 18px;
	padding: 5px 10px 5px 10px;	
	margin-left: 80%;
}

#bt_back{
	background: #2c2e2e;
	color:white;
	font-family: myFont;
	font-size: 18px;
	padding: 5px 10px 5px 10px;	
	margin-left: 80%;
	margin-bottom: 2%;
}
#bt_clear{
	background: #2c2e2e;
	color:white;
	font-family: myFont;
	font-size: 18px;
	padding: 5px 10px 5px 10px;	
}

#btAdminCreate{
	background: #2c2e2e;
	color:white;
	font-family: myFont;
	font-size: 18px;
	padding: 5px 10px 5px 10px;	
	margin-left: 80%;
}

#btAdminClear{
	background: #2c2e2e;
	color:white;
	font-family: myFont;
	font-size: 18px;
	padding: 5px 10px 5px 10px;	
	margin-left: 80%;
}

#bt_save{
	background: #2c2e2e;
	color:white;
	font-family: myFont;
	font-size: 18px;
	padding: 5px 10px 5px 10px;	
	margin-left: 80%;
}

.bts{
	margin-top: 2%;
	margin-bottom: 2%;
}

#bt_sendInvites{
	background: #2c2e2e;
	color:white;
	font-family: myFont;
	font-size: 18px;
	padding: 5px 10px 5px 10px;	
	margin-left: 80%;
	margin-bottom: 2%;
}

#create{
	background: #2c2e2e;
	color:white;
	font-family: myFont;
	font-size: 18px;
	padding: 5px 10px 5px 10px;	
}
#clear{
	background: #2c2e2e;
	color:white;
	font-family: myFont;
	font-size: 18px;
	padding: 5px 10px 5px 10px;	
}
#challenge_tab{
	margin-top: 3%;
}


#tbl_file{
	width: 100%;
}

#tbl_file tr td{
	width: 33%;
}

#tbl_file tr td input{
	width: 80%;
}


#tbl_file3{
	width: 100%;
}
#tbl_file3 tr{
	width: 100%;
}

#tbl_file3 tr td{
	width: 33%;
}

#tbl_file3 tr td input{
	width: 80%;
}

#tbl_file3 tr td .text{
	width: 100%;
}

#myfiles{
	border: #157097 solid 2px;
	font-size:18px;
	width: 90%;
}
#myfiles2{
	border: #157097 solid 2px;
	font-size:18px;
	width: 90%;
}


#tbl_file2{
	width: 100%;
}
#tbl_file2 tr{
	width: 100%;
}

#tbl_file2 tr td{
	width: 50%;
}


.check{
	outline: 2px solid #157097;
	vertical-align:middle;
    display:inline-block;
    width:25px;
    height:25px;
}

#bt_invite{
	background: #2c2e2e;
	color:white;
	font-family: myFont;
	font-size: 18px;
	padding: 5px 30px 5px 30px;	
	margin-bottom: 5%;
}

#bt_backToNewChallenge{
	background: #2c2e2e;
	color:white;
	font-family: myFont;
	font-size: 18px;
	padding: 5px 30px 5px 30px;	
	margin-bottom: 20%;
}

#bt_backToNewChallenge2{
	background: #2c2e2e;
	color:white;
	font-family: myFont;
	font-size: 18px;
	padding: 5px 30px 5px 30px;	
	margin-left: 40%;
	margin-bottom: 20%;
}

.bigtext{
	margin-top: 20%;
	margin-bottom: 2%;
	text-align: center;
	color:#2c2e2e;
	font-family: myFont;
	font-size: 24px;
	font-weight: 900;
}

.dot{
	margin-bottom: 5%;
	font-family: myFont;
	font-weight: 900;
	color:#2c2e2e;
	font-size: 56px;
	text-align:center;
}

.header_friends{
	width:90%;
	border-bottom: #157097 solid 2px;
	background-image:url(images/icons/user.png); 
	background-repeat: no-repeat; 
	font-weight: 900;
	color:#2c2e2e;
	font-family: myFont;
	font-size: 18px;
	padding-left: 25px;
	margin-top: 5%;
	margin-bottom: 2%;
}

#tbl_friends{
	width:90%;
	border: #157097 solid 1px;
}

#tbl_friends tr td{
	width:33%;
	font-family: myFont;
	font-weight: 900;
	color:#2c2e2e;
}

#tbl_friends tr td img{
	vertical-align:middle;
    display:inline-block;
    width:30px;
    height:30px;
}

#tbl_challenge{
	margin-top: 5%;
	width:100%;
	cellspacing:0;
	border-spacing: 0 5px;
}

#tbl_challenge tr{
	border: #157097 solid 2px;
	margin-bottom: 2%;
	width:100%;
}
#tbl_challenge tr td{
	border: #157097 solid 2px;
	padding-top:10px;
	padding-bottom:10px;
}

#tbl_challenge .td1{
	width:20%;
	font-family: myFont;
	color:#2c2e2e;
	border-right: 0;
	padding-left: 5px;
}
#tbl_challenge .td2{
	width:65%;
	font-family: myFont;
	font-weight: 900;
	color:#2c2e2e;
	border-right: 0;
	border-left: 0;
}
#tbl_challenge .edit{
	width:10%;
	background-color:#2c2e2e;
	color:white;
	text-align:center;
}

#tbl_challenge .edit:hover{
	width:10%;
	background-color:white;
	color:#2c2e2e;
	text-align:center;
}

#tbl_challenge .remove{
	width:5%;
	text-align:center;
	font-weight: 900;
	color:#157097;
	border-left: 0;
	padding: 1%;
}

#tbl_challenge .remove:hover{
	width:5%;
	text-align:center;
	font-weight: bold;
	color:white;
	background-color:#157097;
	border-left: 0;
}

#current_time{
	text-align:center;
	font-weight: bold;
	color:#2c2e2e;
	border: #157097 solid 2px;
	padding: 3px;
	width:100%;
	float: right;
	font-family: myFont;
	font-size: 18px;
}

#time{
	text-align:center;
	color:#2c2e2e;
	border: #157097 solid 2px;
	font-family: myFont;
	font-size: 16px;
}

#div_time table{
	width:100%;
}

#div_time table tr td{
	width:25%;
}
.fecha{
	text-align:center;
	font-weight: 900;
	color:#157097;
	border-right: 0;
	font-size: 26px;
	text-align:right;
}
.fecha:hover{
	text-align:center;
	font-weight: 900;
	color:#2c2e2e;
	border-right: 0;
	font-size: 26px;
	text-align:right;
}
.before{
	text-align:center;
	font-weight: 900;
	color:#157097;
	border-right: 0;
	font-size: 26px;
	text-align:right;
}

.before:hover{
	text-align:center;
	font-weight: 900;
	color:#2c2e2e;
	border-right: 0;
	font-size: 26px;
	text-align:right;
}
.after{
	text-align:center;
	font-weight: 900;
	color:#157097;
	border-left: 0;
	font-size: 26px;
	text-align:left;
}
.after:hover{
	text-align:center;
	font-weight: 900;
	color:#2c2e2e;
	border-left: 0;
	font-size: 26px;
	text-align:left;
}
#before_time{
	text-align:left;
	font-family: myFont;
	font-size:18px;
	font-weight: bold;
	color:#2c2e2e;
	border: #157097 solid 2px;
	padding: 3px;
	width:70%;
	float: left;
}


#after_time{
	text-align:right;
	font-family: myFont;
	font-size:18px;
	font-weight: bold;
	color:#2c2e2e;
	border: #157097 solid 2px;
	padding: 3px;
	width:70%;
	float: right;
}

.line{
	font-weight: bold;
	color:#2c2e2e;
	font-size: 26px;
}
#time_line{
	border-spacing: 0 5px;
}

.tbl_text1{
	text-align:left;
	font-family: myFont;
	font-size:16px;
}

.tbl_text2{
	text-align:right;
	font-family: myFont;
	font-size:16px;
}

#dados{
	border: #157097 solid 2px;
	width: 100%;
	font-size:18px;

	font-family: myFont;
	color: #157097;
	margin-bottom: 5%;
}

#bt_refresh{
	width: 30px;
	height: 30px;
	float:right;
	background-image:url(images/icons/refresh.png); 
	background-repeat: no-repeat; 
	padding: 0;	
	margin-top: 0.5%;
}

#bt_refresh:hover{
	border: #157097 solid 2px;
}

#bt_search{
	width: 20px;
	height: 20px;
	float:right;
	background-image:url(images/icons/search.png); 
	background-repeat: no-repeat; 
	padding: 0;	
	margin-top: 0.5%;
}

#bt_search:hover{
	border: #157097 solid 2px;
}


#tab3 table{
width: 100%;
}

#tab3 table tr td{
width: 50%;
}

#input_number{
	border: #157097 solid 2px;
	font-size:18px;
	font-family: myFont;
	color: #2c2e2e;
}

#input_duration{
	border: #157097 solid 2px;
	font-size:18px;
	font-family: myFont;
	color: #2c2e2e;
}

#input_report{
	border: #157097 solid 2px;
	width: 100%;
	height: 200px;
	font-size:18px;

	font-family: myFont;
	color: #2c2e2e;
	margin-bottom: 2%;
}

#bt_export{
	background: #2c2e2e;
	color:white;
	font-family: myFont;
	font-size: 18px;
	padding: 5px 10px 5px 10px;	
	margin-left: 80%;
	margin-bottom: 2%;
}

.media{
	margin-top: 2%;
	margin-bottom: 1%;
	padding: 5px;
	font-size:18px;
}

.linha{
	border-bottom: #157097 solid 1px;
	margin-bottom: 2%;
	margin-bottom: 1%;
	padding: 5px;
	width: 100%;
}

.word{
	border: #157097 solid 2px;
	font-size:18px;
	font-family: myFont;
	color: #2c2e2e;
	width: 70%;
}

#input_name{
	border: #157097 solid 2px;
	font-size:18px;
	font-family: myFont;
	color: #2c2e2e;
}

#tbl_register{
	width: 100%;
}

#tbl_register tr td select{
	width: 86%;
}

#tbl_edit{
	width: 100%;
}

#tbl_edit tr td select{
	width: 86%;
}

#name{
	width: 90%;
	border: #157097 solid 2px;
	padding-left: 25px;
	height: 30px;
	font-size:16px;
}

#tbAdminName{
	width: 90%;
	border: #157097 solid 2px;
	padding-left: 25px;
	height: 30px;
	font-size:16px;
}

#tbAdminNameE{
	width: 90%;
	border: #157097 solid 2px;
	padding-left: 25px;
	height: 30px;
	font-size:16px;
}


#tbl_register tr td input{
	width: 80%;
	border: #157097 solid 2px;
	padding-left: 25px;
	height: 30px;
	font-size:18px;
}


#tbl_edit tr td input{
	width: 80%;
	border: #157097 solid 2px;
	padding-left: 25px;
	height: 30px;
	font-size:18px;
}

.space
{
	margin-top: 2%;
	margin-bottom: 2%;
	margin-left: 75%;
}

.space2
{
	margin-top: 2%;
	margin-bottom: 2%;
	margin-left: 50%;
}


#tbl_challenge2{
	margin-top: 1%;
	width:100%;
	cellspacing:0;
	border-spacing: 0 5px;
}

#tbl_challenge2 tr{
	border: #157097 solid 2px;
	margin-bottom: 2%;
	width:100%;
}
#tbl_challenge2 tr td{
	border: #157097 solid 2px;
	padding-top:10px;
	padding-bottom:10px;
}

#tbl_challenge2 .td1{
	width:20%;
	font-family: myFont;
	color:#2c2e2e;
	border-right: 0;
	padding-left: 5px;
}
#tbl_challenge2 .td2{
	width:65%;
	font-family: myFont;
	font-weight: 900;
	color:#2c2e2e;
	border-right: 0;
	border-left: 0;
}
#tbl_challenge2 .edit{
	width:30px;
	background-color:#2c2e2e;
	color:white;
	text-align:center;
}

#tbl_challenge2 .edit:hover{
	width:30px;
	background-color:white;
	color:#2c2e2e;
	text-align:center;
}


#tb2{
	width:100%;
}
#tb2 tr{
	width:100%;
}

#tb2 td{
	width:50%;
	padding: 0;
}
#tb2 td div{
	width:100%;
}

#tb2 td input{
	padding: 0;
	border: #157097 solid 1px;
	float:right;
    clear:both;
	font-family: myFont;
}

.middle{
	border: #157097 solid 2px;
	color:#2c2e2e;
	font-family: myFont;
	font-size: 16px;
	width: 80%;		
}

.list{
	border: #157097 solid 2px;
	color:#2c2e2e;
	font-family: myFont;
	font-size: 16px;
	width: 90%;		
}

.req {  
    font-family: myFont;
	font-size: 16px;
	color:red;
	width:5px;
	float: right;
	margin-right: 5%;
} 

.one {  
    font-family: myFont;
	font-size: 16px;
	color:orange;
	width:5px;
	float: right;
	margin-right: 20%;
} 

#oblig {  
    font-family: myFont;
	font-size: 16px;
	color:red;
	width:20%;
	float: left;
	margin-right: 5%;
} 

#one {  
    font-family:sans-serif;
	color:orange;
	width:20%;
	float: left;
} 

.time{
	text-align:center;
	font-family: myFont;
	font-size:18px;
	border: #157097 solid 2px;
	padding: 3px;
	width:30%;
	float: left;
}

.conv_title{
	text-align:center;
	font-family: myFont;
	font-size:32px;
	padding-top: 5%;
}

.conv_desc{
	text-align:center;
	font-family: myFont;
	font-size:18px;
	padding: 2%;
}

.conv_desc2{
	text-align:center;
	font-family: myFont;
	font-size:18px;
	padding-top: 2%;
}
.conv_data{
	text-align:center;
	font-family: myFont;
	font-size:18px;
	font-weight:900;
}

#conv_logo{
	display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	width: 300px;
	height: 200px;
	display: block;
    margin-left: auto;
    margin-right: auto;
	margin-top: 1%;
}

#conv_img1{
	display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	width: 300px;
	height: 200px;
	display: block;
    float:left;
	margin-left: 2%;
}


#conv_img2{
	display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	width: 300px;
	height: 200px;
	display: block;
    float:right;
	margin-right: 2%;
}

#tbl2{
	width:100%;
}
#tbl2 tr{
	width:100%;
}
#tbl2 tr td:first-child{
	width:80%
}
#tbl2 tr td:last-child{
	width:20%
}
.bot{
	width:100%;
	border-bottom: #157097 solid 1px;
	margin-bottom: 2%;
}

#tbl2 td input[type="text"]{
	padding: 0;
	border: #157097 solid 1px;
	float:right;
    clear:both;
	font-family: myFont;
	width:100%
}

#tbl2 td input[type="submit"]{
	float:right;
}

.textsmall{
	color:#2c2e2e;
	font-family: myFont;
	font-size: 16px;	
}

#number{
	padding: 0;
	border: #157097 solid 2px;
    clear:both;
	font-family: myFont;
	width:10%;
}


#aux{
	width:100%;
}

#aux tr{
	width:100%;
}

#aux tr td:first-child{
	width:75%;	
}

#aux tr td input{
	float:right;	
}
#aux tr td:last-child{
	width:25%;
	text-align:left;
}


#tbl_footer{
	width:100%;
}

#tbl_footer tr{
	width:100%;
}
#tbl_footer tr td{
	width:25%;
}

#tbl_footer tr td input[type="text"]{
	width:98%;
	border: #157097 solid 2px;
	font-family: myFont;
	font-size: 16px;
}
#tbl_footer tr .txt1{
	width:25%;
	color:#2c2e2e;
	font-family: myFont;
	font-size: 18px;
	font-weight: 900;
}
#tbl_footer tr .txt2{
	width:25%;
	color:#2c2e2e;
	font-family: myFont;
	font-size: 16px;
}

#res_pesquisa{
	width:100%;
	height:50%;
	color:#2c2e2e;
	font-family: myFont;
	font-size: 16px;	
	border: #157097 solid 2px;
	margin-bottom: 2%;
}

.bt{
	background: #2c2e2e;
	color:white;
	font-family: myFont;
	font-size: 14px;
	padding: 5px;	
}

.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #e5e6e6;
	background: -moz-linear-gradient(#e5e6e6, #999);
	background: -webkit-linear-gradient(#e5e6e6, #999);
	background: -o-linear-gradient(#e5e6e6, #999);
}

.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #157097; }

#imgFacebook {
	width: 30px;
}

.tbl1 {
	width: 100%;
}

.tbl1 tr{
	width: 100%;
}

.tbl1 tr td{
	width: 5%;
	padding: 0px 0px 0px 0px;
}

.tbl1 tr td:last-child{
	width: 90%;
}

.bolda{
	color:#157097;
}

a:link {
    text-decoration: none;
}

#tblbt{
	width: 100%;
}
#tblbt tr{
	width: 100%;
}
#tblbt td{
	width: 100%;
}