@font-face {
    font-family: myFont;
    src: url(Avenir.ttc);
}

body {
  background: #e5e6e6;
  font-family: myFont;
  margin: 0;
  padding: 0;
}
footer {
  font-family: myFont;
  font-style: italic;
  color: #157097;
  text-align:center;
  bottom: 0;
  width: 100%;
  padding-top:15%;
}
.wrapper {
  background: white;
  margin: auto;
  width: 60%;
}

h1 {
  text-align: center;
}
ul.tabs {
  list-style-type: none;
  margin: 0;
  margin-left: 20%;
  padding: 0;
}
ul.tabs li {
  border: #157097 solid 2px;
  border-bottom: none;
  float: left;
  margin: 0 .25em 0 0;
  padding: 5px 50px 5px 50px;
}
ul.tabs li a {
  color: #2c2e2e;
  text-decoration: none;
  font-size: 18px;
}
ul.tabs li.active {
  background: #2c2e2e;
  border: none;
}
ul.tabs li.active a {
  color: white;
}
.clr {
  clear: both;
}
article {
  border: #157097 solid 2px;
  padding: 0 5em;
}

#input_mail{
	background-image:url(images/icons/user.png); 
	background-repeat: no-repeat; 
	background-position: 2px 3px;
	border: #157097 solid 2px;

	padding-left: 25px;
	width: 30%;
	height: 30px;
	font-size:18px;
}

#input_pass{
	background-image:url(images/icons/pass.png); 
	background-repeat: no-repeat; 
	background-position: 2px 3px;
	border: #157097 solid 2px;

	padding-left: 25px;
	width: 30%;
	height: 30px;
	font-size:18px;
}

#header1{
    font-family: myFont;
	font-size: 23px;
	font-style: italic;
    background-color:#157097;
    color:white;
    text-align:center;
	margin: 0;
	height: 55px;
	text-align:right;
	vertical-align:middle;
	padding-top:25px;
	padding-right: 30px;
}
#header2{
	background-color:#2c2e2e;
	margin: 0;
	padding: 0;
	height: 10px;
}
#logo{
	display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	width: 300px;
	height: 200px;
}
#logout{
	display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	width: 70px;
	height: 70px;
}

div.wrap {
    width: 100%;
    height: 200px;
    position: relative;
}

.wrap img {
    position: absolute;
    top: 0;
}

.wrap img:nth-of-type(1) {
    left: 0;
}

.wrap img:nth-of-type(2) {
    right: 20px;
	top: 50px;
	
}

.wrap img:nth-of-type(2):hover {
	border: #157097 solid 2px;	
}
.text{
	width: 50%;	
}
.text{
	color:#2c2e2e;
	font-family: myFont;
	font-size: 18px;
	font-weight: 900;	
}

#bt_login{
	background: #2c2e2e;
	color:white;
	font-family: myFont;
	font-size: 18px;
	padding: 5px 30px 5px 30px;	
}

button{
	background: #2c2e2e;
	color:white;
	font-family: myFont;
	font-size: 18px;
	padding: 5px 30px 5px 30px;	
}

#buttons{
	margin-left: 30%;
}

:required:focus {
  box-shadow: 0  0 3px rgba(255,0,0,0.5); 
}

#input_title{
	border: #157097 solid 2px;
	width: 90%;
	height: 30px;
	font-size:18px;
}

select {
   border: #157097 solid 2px;
   font-size:18px;
   padding: 5px 10px 5px 10px;
}
#user{
	margin-bottom: 2%;
}
#registred table{
	margin-bottom: 1%;
	border: #2c2e2e solid 1px;
	padding: 0.5%;
}

#registred table{
	width: 100%;
}
#registred table tr td {
	width: 20%;
}
#input_desc{
	border: #157097 solid 2px;
	width: 90%;
	height: 100px;
	font-size:18px;
}

#media table{
	width: 100%;
}
#media table tr td {
	width: 20%;
}

#bt_create{
	background: #2c2e2e;
	color:white;
	font-family: myFont;
	font-size: 18px;
	padding: 5px 10px 5px 10px;	
	margin-left: 80%;
}
#bt_clear{
	background: #2c2e2e;
	color:white;
	font-family: myFont;
	font-size: 18px;
	padding: 5px 10px 5px 10px;	
}

#create{
	background: #2c2e2e;
	color:white;
	font-family: myFont;
	font-size: 18px;
	padding: 5px 10px 5px 10px;	
}
#clear{
	background: #2c2e2e;
	color:white;
	font-family: myFont;
	font-size: 18px;
	padding: 5px 10px 5px 10px;	
}
#challenge_tab{
	margin-top: 3%;
}


#tbl_file{
	width: 100%;
}

#tbl_file tr td{
	width: 50%;
}

#myfiles{
	border: #157097 solid 2px;
	font-size:18px;
}
#myfiles2{
	border: #157097 solid 2px;
	font-size:18px;
}


.check{
	outline: 2px solid #157097;
	vertical-align:middle;
    display:inline-block;
    width:25px;
    height:25px;
}

#bt_invite{
	background: #2c2e2e;
	color:white;
	font-family: myFont;
	font-size: 18px;
	padding: 5px 30px 5px 30px;	
	margin-left: 40%;
	margin-bottom: 20%;
}
.bigtext{
	margin-top: 20%;
	margin-bottom: 2%;
	text-align: center;
	color:#2c2e2e;
	font-family: myFont;
	font-size: 24px;
	font-weight: 900;
}

.dot{
	margin-bottom: 5%;
	font-family: myFont;
	font-weight: 900;
	color:#2c2e2e;
	font-size: 56px;
	text-align:center;
}

.header_friends{
	width:90%;
	border-bottom: #157097 solid 2px;
	background-image:url(images/icons/user.png); 
	background-repeat: no-repeat; 
	font-weight: 900;
	color:#2c2e2e;
	font-family: myFont;
	font-size: 18px;
	padding-left: 25px;
	margin-top: 5%;
	margin-bottom: 2%;
}

#tbl_friends{
	width:100%;
}

#tbl_friends tr td{
	width:33%;
	font-family: myFont;
	font-weight: 900;
	color:#2c2e2e;
}

#tbl_friends tr td input{
	outline: 2px solid #2c2e2e;
	vertical-align:middle;
    display:inline-block;
    width:15px;
    height:15px;
}

#tbl_challenge{
	margin-top: 5%;
	width:100%;
	cellspacing:0;
	border-spacing: 0 5px;
}

#tbl_challenge tr{
	border: #157097 solid 2px;
	margin-bottom: 2%;
	width:100%;
}
#tbl_challenge tr td{
	border: #157097 solid 2px;
	padding-top:10px;
	padding-bottom:10px;
}

#tbl_challenge .td1{
	width:20%;
	font-family: myFont;
	font-weight: bold;
	color:#2c2e2e;
	border-right: 0;
	padding-left: 5px;
}
#tbl_challenge .td2{
	width:65%;
	font-family: myFont;
	font-weight: 900;
	color:#2c2e2e;
	border-right: 0;
	border-left: 0;
}
#tbl_challenge .edit{
	width:10%;
	background-color:#2c2e2e;
	color:white;
	text-align:center;
}

#tbl_challenge .edit:hover{
	width:10%;
	background-color:white;
	color:#2c2e2e;
	text-align:center;
}

#tbl_challenge .remove{
	width:5%;
	text-align:center;
	font-weight: 900;
	color:#157097;
	border-left: 0;
}

#tbl_challenge .remove:hover{
	width:5%;
	text-align:center;
	font-weight: bold;
	color:white;
	background-color:#157097;
	border-left: 0;
}

#current_time{
	text-align:center;
	font-weight: bold;
	color:#2c2e2e;
	border: #157097 solid 2px;
	padding: 3px;
	width:50%;
	float: right;
}

#time{
	text-align:center;
	font-weight: bold;
	color:#2c2e2e;
	border: #157097 solid 2px;
	padding: 3px;

}

#div_time table{
	width:90%;
}

#div_time table tr td{
	width:25%;
}

.before{
	text-align:center;
	font-weight: 900;
	color:#157097;
	border-right: 0;
	font-size: 26px;
	text-align:right;
}
.after{
	text-align:center;
	font-weight: 900;
	color:#157097;
	border-left: 0;
	font-size: 26px;
	text-align:left;
}

#before_time{
	text-align:center;
	font-family: myFont;
	font-size:18px;
	font-weight: bold;
	color:#2c2e2e;
	border: #2c2e2e solid 2px;
	padding: 3px;
	width:50%;
	float: right;
}


#after_time{
	text-align:center;
	font-family: myFont;
	font-size:18px;
	font-weight: bold;
	color:#2c2e2e;
	border: #2c2e2e solid 2px;
	padding: 3px;
	width:50%;
}

.line{
	font-weight: bold;
	color:#2c2e2e;
	font-size: 26px;
}
#time_line{
	border-spacing: 0 5px;
}

#dados{
	border: #157097 solid 2px;
	width: 100%;
	height: 200px;
	font-size:18px;

	font-family: myFont;
	color: #157097;
	margin-bottom: 5%;
}

#bt_refresh{
	width: 30px;
	height: 30px;
	float:right;
	background-image:url(images/icons/refresh.png); 
	background-repeat: no-repeat; 
	padding: 0;	
	margin-top: 0.5%;
}

#bt_refresh:hover{
	border: #157097 solid 2px;
}

#bt_search{
	width: 20px;
	height: 20px;
	float:right;
	background-image:url(images/icons/search.png); 
	background-repeat: no-repeat; 
	padding: 0;	
	margin-top: 0.5%;
}

#bt_search:hover{
	border: #157097 solid 2px;
}


#tab3 table{
width: 100%;
}

#tab3 table tr td{
width: 50%;
}

#input_number{
	border: #157097 solid 2px;
	font-size:18px;
	font-family: myFont;
	color: #2c2e2e;
}

#input_duration{
	border: #157097 solid 2px;
	font-size:18px;
	font-family: myFont;
	color: #2c2e2e;
}

#input_report{
	border: #157097 solid 2px;
	width: 100%;
	height: 200px;
	font-size:18px;

	font-family: myFont;
	color: #2c2e2e;
	margin-bottom: 2%;
}

#bt_export{
	background: #2c2e2e;
	color:white;
	font-family: myFont;
	font-size: 18px;
	padding: 5px 10px 5px 10px;	
	margin-left: 80%;
	margin-bottom: 2%;
}

.media{
	border: #2c2e2e solid 1px;
	margin-top: 1%;
	margin-bottom: 1%;
	padding: 5px;
	font-size:18px;
}

.word{
	border: #157097 solid 2px;
	font-size:18px;
	font-family: myFont;
	color: #2c2e2e;
	width: 50%;
}

#input_name{
	border: #157097 solid 2px;
	font-size:18px;
	font-family: myFont;
	color: #2c2e2e;
}

#tbl_register{
	width: 100%;
}

#name{
	width: 90%;
	border: #157097 solid 2px;
	padding-left: 25px;
	height: 30px;
	font-size:16px;
}

#tbl_register tr td input{
	width: 80%;
	border: #157097 solid 2px;
	padding-left: 25px;
	height: 30px;
	font-size:18px;
}

.space
{
	margin-top: 2%;
	margin-bottom: 2%;
	margin-left: 75%;
}


#tbl_challenge2{
	margin-top: 1%;
	width:100%;
	cellspacing:0;
	border-spacing: 0 5px;
}

#tbl_challenge2 tr{
	border: #157097 solid 2px;
	margin-bottom: 2%;
	width:100%;
}
#tbl_challenge2 tr td{
	border: #157097 solid 2px;
	padding-top:10px;
	padding-bottom:10px;
}

#tbl_challenge2 .td1{
	width:20%;
	font-family: myFont;
	font-weight: 900;
	color:#2c2e2e;
	border-right: 0;
	padding-left: 5px;
}
#tbl_challenge2 .td2{
	width:65%;
	font-family: myFont;
	font-weight: 900;
	color:#2c2e2e;
	border-right: 0;
	border-left: 0;
}
#tbl_challenge2 .edit{
	width:10%;
	background-color:#2c2e2e;
	color:white;
	text-align:center;
}

#tbl_challenge2 .edit:hover{
	width:10%;
	background-color:white;
	color:#2c2e2e;
	text-align:center;
}


#tb2{
	width:100%;
}
#tb2 tr{
	width:100%;
}

#tb2 td{
	width:50%;
	padding: 0;
}
#tb2 td div{
	width:100%;
}

#tb2 td input{
	padding: 0;
	border: #157097 solid 1px;
	float:right;
    clear:both;
	font-family: myFont;
}

